.setName {	
	text-align: center;
	background-color: rgba(255,255,255,1);
    font-family: Lobster, monospace;
}
#navBarPic {
	height: 30px;
	width: auto;
	border-radius: 50px;
}
#certificateSizePartOne {
	height: 210px;
	max-width: 111%;
}
#certificateSizePartTwo {
	height: 210px;
	max-width:  108%

}
#certificateForm {

	background-color: rgba(255, 255, 255, 1);
	padding: 5px 40px 60px 5px;
	height: 500px;
	width: 100%;
	border-radius: 20px;
	border-style: solid;
}
#certificateBorder {
	
	border-color: rgba(190, 190, 190, 1) ;
}
#sideBar {
	border-radius: 20px;
	position: relative;
    width: auto;
    height: 20px;
    margin: 50px auto;
	background: 
		repeating-linear-gradient(
    	45deg,
    	yellow 0px,
      	yellow 40px,
      	black 40px,
      	black 80px
    );
}
#favFont{
    font-family: Lobster, monospace;
    text-decoration: underline;
    text-align: center;
    color:  white;
}
#ballOne {
	background: linear-gradient(45deg, red, blue);
	height: 40px;
	width: 40px;
	margin: center; 
	border-radius: 50%;
	animation-name: ball;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
@keyframes ball {
	0% {
		margin-left: -400px;
	}
	12% {
		background-color: linear-gradient(55deg, white, gray);
		margin-left: -230px;
	}
	24% {
		background: linear-gradient(60deg, brown, yellow);
		margin-left: 120px;
	}
	45% {
		background-color: linear-gradient(55deg, white, gray);
		margin-left: 360px;
	}
	68% {
		background: linear-gradient(60deg, brown, yellow);
		margin-left: 200px;
	}
	80% {
		background-color: linear-gradient(55deg, white, gray);
		margin-left: 70px;
	}
	100% {
		background-color: linear-gradient(55deg, white, gray);
		margin-left: 0px;
	}
}


