.imgPortfolio
{
	position: absolute;
	top : 25px;
	max-width: 100px;
	max-height: 100px;
}
.imgPortfolioHover
{
	position: absolute;
	top : 0px;
	max-width: 107px;
	max-height: 107px;
}
.mainBlock
{
	position: absolute;
	top : 100px;
	left: 400px;
	right: 50px;
	bottom: 50px;
}
.block1
{
	position: absolute;
	top:  5px;
	left: 160px;
}
.btn_set
{ 
	position: absolute;
	top: 150px;
	left: 160px
}